<ng-container *ngFor="let post of posts">
  <div class="post-card fade-element p-4 mb-4 bg-white rounded-4 shadow-sm">
    <a [routerLink]="['post', post.id]" class="w-semibold mb-3 btn" data-bs-toggle="button"><h5>{{post.name}}</h5></a>
    <p>{{post.text}}</p>
    <!--<img src={{ post.imgPath }}/>-->
    <div >
      <a [routerLink]="['edit',post.id]" class="btn" data-bs-toggle="button">Изменить</a>
      <a (click)="delete(post.id)" class="btn" data-bs-toggle="button">Удалить</a>
    </div>
  </div>
</ng-container>
<a [routerLink]="['create']" type="button" class="btn" data-bs-toggle="button">Добавить</a>
